{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "semi": true,
  "endOfLine": "lf",
  "importOrder": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"]
}
